################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/CloseEnoughEquality/v14/.suo
/src/CloseEnoughEquality/bin/Debug
/src/packages
/src/CloseEnoughEquality/obj/Debug
/src/CloseEnoughEquality.Tests/bin/Debug
/src/CloseEnoughEquality/bin/Release
/src/CloseEnoughEquality/obj/Release
/src/CloseEnoughEquality.Tests/bin/Release
/src/CloseEnoughEquality.Tests/obj/Release
/src/CloseEnoughEquality/obj
/.vs
/tests/CloseEnoughEquality.Tests/obj
/tests/CloseEnoughEquality.Tests/bin/Debug/netcoreapp1.1
/tests/CloseEnoughEquality.Tests/bin/Debug/net6
